@media (max-width: 768px) {

    .container{
        padding: 0 40px;
    }
    .landing {
        background: linear-gradient(30deg, #c4c4c4c4 50%, #000000 50%);
    }

    .landing .container {
        padding: 0 40px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    nav {
        padding: 20px 25px;
    }

    nav h3 {
        color: white;
    }

    .landing .fa-bars {
        cursor: pointer;
        padding-left: 25px;
        font-size: 20px;
    }

    .info h1 {
        padding-bottom: 0px;
        font-size: 25px;
        font-weight: bold;
        /* color: white; */
    }

    .info .icons {
        padding-bottom: 450px;
        gap: 25px;
        font-size: 35px;
    }

    
    #body{
        transition: 1s;
    }
    .hide {
        opacity: 0;
        transition: 0.5s;
    }

    #blur-background{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 1;

    }

    .blur{
        background-color: rgba(255, 255, 255, 0.1);;
        backdrop-filter: blur(5px);
        transition: 0.5s;
    }
    

    ul {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(90, 145, 218);
        width: 80%;
        z-index: 3;
        transition: 1s;
        border-radius: 10px;
        
    }

    


    .image img {
        padding-top: 200px;
        max-width: 250px;

    }

    .info p {
        padding-bottom: 10px;
        font-size: 12px;
        width: 90%;
        line-height: 1.2;
    }

    .landing .fa-bars {
        display: block;
        z-index: 4;
    }

    .fa-xmark{
        position: fixed;
        right: 4%;
        z-index: 4;
        background-color:  rgb(90, 145, 218);
        padding: 6px 12px;
        border-radius: 8px;
        cursor: pointer;
    }

    .about .container {
        flex-direction: column;
        
    }
}